.response {
    margin: 15px;
    padding: 25px;
    background-color: white;
}

.response:hover {
    background-color: #eee;
    cursor: default;
}

h4 {
    padding-top: 25px;
}

h4, .bare {
    margin-left: 30px;
}
